<!DOCTYPE html>
<html>
<%- partial('_partial/head'); %>
<body>
<div class="main-container">
    <div class="nav-col nav-position">
        <%- partial('_partial/header'); %>
    </div>
    <div class="content-col content-position">
        <%- body %>
        <%- partial('_partial/footer'); %>
    </div>
</div>
</body>
</html>