<footer class="footer-col">
    © 2019 Powered by <a href="#" target="_blank">Hexo</a> • Theme <a href="#" target="_blank">zaoangod</a>
    <p><a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></p>
</footer>